{% extends "polls/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container">
        <div class="content-section">
            <form action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div id="question_container">
                    <button type="button" onclick="addTest()">Add question</button>
                </div>
                <div>
                    <button type="submit">Apply</button>
                </div>
                <script src="{% static 'polls/add_froms.js' %}"></script>
            </form>
        </div>
    </div>


{% endblock content %}