{% extends "polls/base.html" %}
{% block content %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1>free_quiz!</h1>
            <a class="link-info" href="{% url 'create_poll' %}">Make quiz!</a>
            <p class="list-polls">Last 5 polls:</p>
            {% for poll in polls %}
                <div>
                    <a href="{{ poll.get_absolute_url }}">{{ poll }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="position-absolute top-0 start-100">
    </div>
{% endblock content %}