{% extends "polls/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2> {{ poll }}</h2>
        <p>Poll creator: {{ poll.creator }}</p>
        {% if poll_completed %}
            {% for question in poll.question_set.all %}
                <p>{{ question }}</p>
                <ol>
                    {% for choice in question.choice_set.all %}
                        <li>
                            {{ choice }}
                            {{ choice.get_percent }}
                        </li>
                    {% endfor %}
                </ol>
            {% endfor %}
        {% endif %}
        {% if can_vote %}
            <a href="{% url 'pick' poll.id %}">Vote</a>
        {% else %}
            <p>The test can only be taken once.</p>
        {% endif %}
        {% if user == poll.creator %}
            <a href="{% url 'delete' poll.id %}">Delete</a>
        {% endif %}
    </div>
</div>
{% endblock content %}