{% extends "polls/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">
    <div class="content-section">
        {{ question }}
        <ul>
            {% for choice in choices %}
                <li>
                    {{ choice }}
                    <a href="{% url 'delete_choice' choice.id%}">delete</a>
                    <a href="{% url 'edit_choice' choice.id%}">edit</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_choice' question.id %}">Add choice</a>
    </div>
</div>
{% endblock content %}