{% extends "polls/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2> {{ poll }}</h2>
        <p>Poll creator: {{ poll.creator }}</p>
        {% for question in poll.question_set.all %}
            <p>{{ question }}</p>
            <ul>
                {% for choice in question.choice_set.all %}
                    <li>
                        {{ choice }}
                        {{ choice.get_percent }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        <a href="{% url 'vote' poll.id %}">Vote</a>
        {% if user == poll.creator %}
            <a href="{% url 'edit' poll.id %}">Edit</a>
        {% endif %}
    </div>
</div>
{% endblock content %}