{% extends "polls/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <form action="{% url 'vote' poll.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% for question in poll.question_set.all %}
                <legend>
                    <h1>{{ question.question_text }}</h1>
                </legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="{{ question.id }}" id="{{ choice.id }}" value="{{ choice.id }}">
                    <label for="{{ choice.id }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
        </form>
    </div>
{% endblock content %}
