html, body {
    height: 100%;
    width: 100%;
}

body{
    display:flex;
    flex-direction:column;
}

footer {
    min-height:50px;
    bottom: 0;
    text-align: center;
    margin-top: auto;
}

.container {
}
.main_menu{
    width: 400px;
    height: 100px;
    text-align: center;
}

.list-polls{

}
.question_container{
    margin-left: 100px;
    margin-right: 100px;
}