html, body { height: 100%; width: 100% }


.site-header{

}

.container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_menu{
    width: 400px;
    height: 300px;
    text-align: center;
}

.content-section {
    width: 700px;
    height: 200px;
}
footer{
    text-align: center;
}