{% extends "polls/base.html" %}
{% block content %}
    <div>
        <p> Username: {{ user.username }}</p>
        <p> Email: {{ user.email }}</p>
        <span>
            <div>
                <p>Created polls</p>
                {% for poll in user_polls %}
                    <div><a href="{{ poll.get_absolute_url }}">{{ poll }}</a></div>
                {% endfor %}
            </div>
            <div>
                <p>Completed polls</p>
                {% for poll in completed_polls %}
                    <div><a href="{{ poll.get_absolute_url }}">{{ poll }}</a></div>
                {% endfor %}
            </div>
        </span>
    </div>
{% endblock content %}
