{% extends "polls/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Welcome to free_quiz!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registration</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                 Already have an account?<a class="ml-2" href="#">Login</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}