{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link type="text/css" href="{% static 'users/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Welcome to free_quiz!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registration</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                 Already have an account?<a class="ml-2" href="#">Login</a>
            </small>
        </div>
    </div>
</div>
</body>
</html>